{% extends "base.html" %}

{% block titulo %}BOOKS{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>{{book.title}}</h4>
            
            {%for autor in book.authors.all %}
            <h5>
                {{autor.first_name}}  {{autor.last_name}}
            </h5>
            {% endfor %}
        </div>
    </div>

    <div class="row mt-6">
        <div class="col-10">
            <h4>Reviews:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            {%for review in reviews %}
            <hr>
            <div class="row ms-4">
                <div class="col ">
                    <h4>Rating: {{review.stars}}
                        
                    </h4>
                    <h6><a href="/users/{{review.owner.id}}">{{review.owner}}</a>
                        :{{review.texto}}</h6>
                    <h5>Posted on {{review.created_at}}</h5>  
                    {% if review.owner.id == request.session.user.id %}
                        <a href="/review/{{review.id}}/destroy">Delete this review   </a>             
                    {% endif %}
                </div>
            </div>               
            {% empty %}
                Sin Reviews 
            {%endfor%}
        </div>
        <div class="col">
            
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col">
                    Add a Review:
                </div>
            </div>
            <form action="/review/{{book.id}}/add" method="post">
                {% csrf_token %}
                <div class="row mt-2">
                    <div class="col">
                        <h4>Review:</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-8">
                        <textarea class="form-control" id="review_text" rows="3" name="review_text"></textarea>
                    </div>
                </div>
                <div class="row mt-2">                            
                    <div class="col-3"><h4>Rating:</h4></div>
                    <div class="col-5">
                        <input type="number" name="stars" id="mystars">
                    </div>                           
                </div>
                <div class="row mt-3">
                    <div class="col-8 d-flex flex-row-reverse">
                        <input type="submit" value="Add Book and Review" class="btn btn-sm btn-outline-primary">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<script>
    function input2stars(input_id) {
      $("<style type='text/css'> .star { letter-spacing: 0; padding: 0.1rem; margin-right: -4px; } .hover{ background-color: burlywood;}  .yellow { color: yellow !important; } </style>").appendTo("head");
  
      const input = $(`#${input_id}`);
      input.hide();
      
      input.parent().append(`
        <div id="${input_id}-stars">
          <span class="material-icons text-secondary star" data-star="1">star</span>
          <span class="material-icons text-secondary star" data-star="2">star</span>
          <span class="material-icons text-secondary star" data-star="3">star</span>
          <span class="material-icons text-secondary star" data-star="4">star</span>
          <span class="material-icons text-secondary star" data-star="5">star</span>
        </div>
      `);
      $('.star').hover(
        function () {
          const target = $(this);
          const star_num = parseInt(target.data('star'));
          const parent = target.parent();
  
          for (let i=1; i <= star_num; ++i) {
            parent.find(`.star[data-star="${i}"]`).addClass('hover');
          }
        },
        function () {
          $(this).parent().children().removeClass('hover')
        }
      )
  
      $('.star').on('click', function() {
        const star_num = parseInt($(this).data('star'));
        const parent = $(this).parent();
  
        for (let i=1; i <= star_num; ++i) {
          parent.find(`.star[data-star="${i}"]`).addClass('yellow');
        }
        for (let i=star_num+1; i<=5; ++i) {
          parent.find(`.star[data-star="${i}"]`).removeClass('yellow');
        }
  
        input.val(star_num);
      });
    }

    input2stars('mystars') ;

  </script>


{% endblock %}

{% block libreria %}
{% endblock %}